html {
	height: 100%;
}

body {
	font: 55% "Trebuchet MS", sans-serif;
	margin: 0px;
	height: 100%;
	background-color: rgba(228, 229, 229, 0.5);
}

table#rsl-table-base {
	border-collapse: collapse;
	width: 100%;
}

table#rsl-table-base th {
	border: 1px solid black;
	padding: 10px;
}

table#rsl-table-base td {
	border: 1px solid black;
	padding: 10px;
}

table#rsl-table-base .rsl-cell-droppable {
	padding: 0px;
}

table#rsl-table-base td.rsl-cell-invalid {
	border: 1px solid red;
}

table#rsl-table-base thead,
table#rsl-table-base tbody,
table#rsl-table-base tfoot {
	display: block;
}

table#rsl-table-base tbody {
	width: 100%;
	overflow: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

table#rsl-table-base tfoot {
	height: 100px;
	max-height: 100px;
	overflow: auto;
}

table#rsl-table-base tfoot td {
	vertical-align: top;
}

#rsl-table-firstrow {
	border: none;
	padding: 10px;
}

td.rsl-centre-text, p.rsl-centre-text {
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li.rsl_base-roster-original {
	color: red;
	text-align: center;
}

#rsl-dialog-validation p {
	text-align: center;
}

#rsl-div-service-list {
	position: absolute;
	border-color: black;
}

.scroll-content {
	padding: 10px;
	height: 100%;
}

.scroll-bar-wrap {
	float: right;
	width: 10px;
}

.scroll-bar {
	height: 340px;
}
