ul {
	list-style: none;
	padding: 0px 10px;
}

.rsl_swapComment-name {
	float: left;
}

.rsl_swapComment-date {
	float: right;
}

.rsl_swapComment-container {
	clear: both;
	border-top: 1px solid #888888;
	padding-top: 5px;
	margin-bottom: 30px;
	color: #303030;
	font-size: small;
}
